colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
engineering-notation==0.10.0
loguru==0.7.2
numpy==2.0.1
packaging==24.1
pandas==2.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
tk-tools==0.16.0
tzdata==2024.1
win32-setctime==1.1.0
